_trimmed
_optimised
cards/png
GameCovers/*/*.jpg
tmp_artwork/
output.pdf
output_outline.pdf
__pycache__/
v2.1_SVGs_(vector)_(Full Set)_(Created_By_Dan_Patrick)
.cache
output_example.pdf
output_compare.pdf
